{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="d-flex justify-content-center container">
    <h1 class="display-1 mt-4">WESH SALOPE</h1>
</div>


{% endblock %}
