form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

/* Form containers */

form .input-container, 
form .error-message, 
form .form-errors-list {
    width: 30%;
    margin-bottom: 30px;
}

form .error-message, form .form-errors-list {
    padding: 5px;
}

form .error-message, form .form-errors-list {
    color: red;
}

form .input-container {
    position: relative;
}

/* Inputs */

form .input-container input {
    width: 100%;
    padding: 10px;
}

form .input-container label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition-duration: .25s;
    color: gray;
}

form .input-container input:focus + label, 
form .input-container input:not(:placeholder-shown) + label {
    left: 0;
    top: -50%;
    font-size: 0.7rem;
    color: rgb(73, 110, 148);
}

/* Checkboxs */

form .checkbox-container {
    
}

form .checkbox-container input[type="checkbox"] {
    
}

form .checkbox-container input[type="checkbox"] + label {

}

/* Buttons */

form button {
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #18bc9c;
    font-size: 1.2rem;
    color: white;
    transition-duration: .3s;
    cursor: pointer;
}

form button:hover {
    background-color: #14a085;
}

/* Register form errors list */

form .form-errors-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}