form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

/* Form containers */

form .input-container, 
form .error-message, 
form .checkbox-container, 
form .form-errors-list {
    width: 30%;
    margin: 0 auto 30px auto;
}

form .error-message, form .form-errors-list {
    padding: 5px;
}

form .error-message, form .form-errors-list {
    color: red;
}

form .input-container {
    position: relative;
}

/* Inputs */

form .input-container input {
    width: 100%;
    padding: 10px;
}

form .input-container label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    transition-duration: .25s;
    color: gray;
}

form .input-container input:focus + label, 
form .input-container input:not(:placeholder-shown) + label {
    left: 0;
    top: -50%;
    font-size: 0.7rem;
    color: rgb(73, 110, 148);
}

/* Checkboxs */

form .checkbox-container {
    position: relative;
}

form .checkbox-container input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

form .checkbox-container label {
    display: grid;
    grid-template-columns: 2em 1fr;
    grid-template-areas: "checkbox label";
    gap: 0.7em;
}

form .checkbox-container label::after,
form .checkbox-container label::before {
    content: "";
    display: block;
    grid-area: checkbox;
    transition-duration: .3s;
    cursor: pointer;
}

form .checkbox-container label::before {
    width: 100%;
    height: 1em;
    border: 1px solid gray;
    border-radius: 1em;
}

form .checkbox-container label::after {
    position: relative;
    left: 2px;
    top: 2px;
    width: calc(1em - 2px);
    height: calc(1em - 2px);
    background-color: #555558;
    border-radius: 50%;
}

form .checkbox-container input:checked + label::before {
    background-color: blue;
    border-color: rgb(22, 22, 76);
}

form .checkbox-container input:focus + label::before {
    box-shadow: 0 0 0 0.25em #c4dbf9;
}

form .checkbox-container input:checked + label::after {
    background-color: white;
    transform: translate(1em);
}

/* Buttons */

form button {
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #18bc9c;
    font-size: 1.2rem;
    color: white;
    transition-duration: .3s;
    cursor: pointer;
}

form button:hover {
    background-color: #14a085;
}

/* Register form errors list */

form .form-errors-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}