<div class="container-fluid ">
    <div class="row flex-nowrap sticky-top">
        <div class="col-auto col-md-5 col-xl-4 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">

                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Mes Kanbans</span>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Kanbans partagés</span>
                        </a>
                    </li>
                    
                    
                    <li class="nav-item">
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Mes tâches</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/kanban/create" class="nav-link px-0 align-middle">
                            <button type="button" class="btn btn-success">Créer un Kanban</button>
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
    </div>
</div>
