{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

<h1>Connexion</h1>

{% for message in app.flashes('success') %}
    <div class="success-flash">
        {{ message }}
    </div>
{% endfor %}

<form 
    class="auth-form" 
    action="{{ path('authentication.login') }}" 
    method="post">
    {% if error %}
        <div class="error-message">
            Pseudonyme ou mot de passe invalide.
        </div>
    {% endif %}
    <div class="input-container">
        <input 
            type="text" 
            id="username" 
            name="_username" 
            value="{{ last_username }}" placeholder="">
        <label for="username">Pseudonyme</label>
    </div>
    <div class="input-container">
        <input type="password" id="password" name="_password" placeholder="">
        <label for="password">Mot de passe</label>
    </div>
    <button type="submit">Se connecter</button>
</form>

{% endblock %}
