{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Kanbans publics</h1>
    {# Liste des kanbans #}
    <div class="kanbans">
        {% for kanban in kanbans %}
            <div class="kanban">
                <div class="kanban-top-info">                
                    <h2>
                        {{ 
                            "Kanban de #{kanban.owner.username}" 
                            | u.truncate(50, '...') 
                        }}
                    </h2>
                    <div class="arrow-wrapper">
                        <a href="#" class="arrow">Voir le Kanban</a>
                    </div>
                </div>
                <hr>
                <h3>{{ kanban.name | u.truncate(100, '...') }}</h3>
            </div>
        {% endfor %}
    </div>
{% endblock %}
