{% extends 'base.html.twig' %}

{% block title %}Kanbans de {{ user.username }}{% endblock %}

{% block body %}

<div>
<h1>Kanbans de {{ user.username }}</h1>

<ul>
{% for kanban in kanbans_owned %}
    <li>
    {{ kanban.name }}
    </li>
{% endfor %}
</ul>

<h1>Kanbans partagés</h1>

<ul>
{% for kanban in kanbans_invited %}
    <li>
    {{ kanban.name }}
    </li>
{% endfor %}
</ul>

</div>


{% endblock %}