/* Global CSS */

html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato,  Arial, sans-serif;
    background-color: #eaeded;
}

.success-flash, .failure-flash, .warning-flash {
    width: 50%;
    margin: 15px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.success-flash {
    border: 1px solid rgb(4, 110, 4);
    background-color: rgba(54, 238, 54, 0.8);
}

.failure-flash {
    border: 1px solid rgb(104, 23, 36);
    background-color: rgba(241, 2, 14, 0.8);
}

.warning-flash {
    border: 1px solid rgb(121, 71, 25);
    background-color: rgba(241, 197, 2, 0.8);
}