/* Global CSS */

html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Lato,  Arial, sans-serif;
    background-color: #eaeded;
}

.success-flash, .failure-flash, .warning-flash {
    width: 50%;
    margin: 15px auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.success-flash {
    border: 1px solid rgb(4, 110, 4);
    background-color: rgba(54, 238, 54, 0.8);
}

.failure-flash {
    border: 1px solid rgb(104, 23, 36);
    background-color: rgba(241, 2, 14, 0.8);
}

.warning-flash {
    border: 1px solid rgb(121, 71, 25);
    background-color: rgba(241, 197, 2, 0.8);
}

.invisible {
    display: none;
}

/* Sorting options and task actions */

.sort-options {
    text-align: center;
}

.task-actions button,
.task-actions select,
.sort-options button,
.sort-options select {
    background-color: rgb(57, 57, 102);
    margin-top: 5px;
    padding: 10px;
    border-radius: 3px;
    border: none;
    color: white;
    cursor: pointer;
}

.sort-options button,
.sort-options select {
    font-size: 1.2rem;
}

.task-actions button,
.sort-options button {
    transition-duration: .3s;
}

.task-actions button:hover,
.sort-options button:hover {
    background-color: rgb(11, 11, 70);
}

.sort-options select .select-reset {
    font-style: italic;
}

/* Popup */

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    background-color: rgba(45, 45, 45, 0.6);
}

.popup {
    position: fixed;
    background-color: white;
    width: 30%;
    top: 50%;
    left: 50%;
    z-index: 10000;
    border: solid black 2px;
    border-radius: 3px;
    transform: translate(-50%, -50%);
}

.popup-relative {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px 0;
}

.popup-exit {
    position: absolute;
    top: 0;
    right: 0;
    border: solid #c44133 1px;
    border-radius: 3px;
    background-color: #c44133;
    color: white;
    font-size: 1.2em;
    padding: 8px;
    margin: 8px;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;

}

.popup-exit:hover {
    background-color: #973429;
    border: solid #973429 1px;
}