/* Global CSS */

html body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato,  Arial, sans-serif;
    background-color: #eaeded;
}

.success-flash {
    width: 50%;
    margin: 15px auto;
    padding: 10px;
    border: 1px solid rgb(4, 110, 4);
    border-radius: 5px;
    background-color: rgba(54, 238, 54, 0.8);
}