<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - {{ appTitle }} </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {# <link rel="stylesheet" href="https://bootswatch.com/5/superhero/bootstrap.min.css"> #}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
        {# Header #}
        {% block header %}
            {% include templateConst("PARTIAL_HEADER") %}
        {% endblock %}

        {# Body #}
        {% block body %}{% endblock %}
    </body>
</html>
